@import '../../../../styles/variables.scss';

.sol-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    background-color: $bg_secondary_color;
    width: $sidebar_width;
    height: 100vh;
    padding: 20px;
}