@import '../../../../styles/variables.scss';

.sol-header {
	position: fixed;
	top: 0;
	left: $sidebar_width;
    width: calc(100% - $sidebar_width);
	background-color: rgba($color: $bg_color, $alpha: 0.9);
	backdrop-filter: blur(10px);
    z-index: 996;
    padding: 20px 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 90px;
	&-right {
        display: inline-flex;
        align-items: center;
        column-gap: 20px;
	}
}
