@import 'src/styles/variables.scss';

.sol-card {
	display: flex;
	padding: 30px;
	flex-direction: column;
	border-radius: 24px;
	background: rgba(255, 255, 255, 0.03);

	&-header {
		height: 36px;
		display: flex;
		align-items: flex-start;
		border-left: 2px solid $primary_color;

		.sol-card-title {
			padding: 10px 0px 10px 20px;
			color: $white_color;
			font-weight: 700;
			text-transform: uppercase;
			margin: 0;
		}
	}

	&-body {
		padding: 30px 0px 12px 0px;
	}
}
