@import '../../../styles/variables.scss';

.sol-stepper-item {
	display: flex;
	align-items: center;
	column-gap: 15px;
	color: $white-color;
	font-size: 16px;
	font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.5;
	&-icon {
		width: 32px;
		height: 32px;
		min-width: 32px;
		background-color: $bg_color;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		line-height: 20px; /* 125% */
		border-radius: 5px;
	}
	&.completed,
	&.active{
		.sol-stepper-item-icon{
			background-color: $white_color;
			color: $bg_color;
		}
	}
    &.active{
        color: $white_color;
        opacity: 1;
		.sol-stepper-item-icon{
			background-color: $white_color;
			color: $bg_color;
		}
    }
}