@import 'src/styles/variables.scss';

.sol-homepage-news-lg {
	position: relative;
	border-radius: 30px;
	overflow: hidden;
	background-size: cover;
	background-position: top center;
	display: flex;
	align-items: flex-end;
	padding: 40px;
	height: 100%;
	background-color: $bg_card_color;
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 70%;
		left: 0;
		bottom: 0;
		background: linear-gradient(180deg, rgba(38, 39, 59, 0) 0%, #26273b 59%);
	}
	* {
		position: relative;
	}
	&-title {
		display: flex;
		text-decoration: none;
		color: $white_color;
		font-size: 32px;
		font-weight: 700;
		margin-bottom: 10px;
		transition: all ease-in-out 0.3s;
		&:hover {
			color: $primary_color;
			transform: translateY(-10px);
		}
	}
	&-description {
		font-size: 18px;
	}
}
