@import 'src/styles/variables.scss';

.sol-staking-stake-step3{
    .sol-staking-step-title {
		color: $white_color;
		font-size: 20px;
		font-weight: 900;
		margin-bottom: 15px;
	}
	.sol-staking-step-description {
		color: $text_color;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 20px;
        small {
            i {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
            }
        }
	}
    .sol-staking-step-highlight{
        color: $white_color;
    }
}
