@import "src/styles/variables.scss";

.sol-page-title {
	color: $white_color;
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 30px;
	@media(max-width:1199px){
		font-size: 30px;
		margin-bottom: 20px;
	}
}
