$primary_color: #8350e6;
$white_color: #fff;
$success_color:#2EC145;
$text_color: rgba(#fff, 0.6);
$bg_color: #1B1C31;
$bg_modal: #202136;
$bg_modal_backdrop: #100E29;
$bg_card_color: rgba(#fff, 0.05);
$bg_sub_card_color: rgba(#fff, 0.03);