@import 'src/styles/variables.scss';

.sol-bridge-select-network-dialog{
    .sol-networks {
		display: flex;
		flex-direction: column;
		row-gap: 12px;
		&-empty {
			color: $text_color;
			text-align: center;
			font-size: 16px;
			font-weight: 400;
		}
	}
}
