@import 'src/styles/variables.scss';

.sol-homepage-news {
	&-title {
		color: $white_color;
		font-size: 32px;
		font-weight: 700;
		margin-bottom: 40px;
		@media (max-width: 1399px) {
			font-size: 30px;
			margin-bottom: 20px;
		}
		@media (max-width: 1199px) {
			font-size: 24px;
		}
	}
}
