@import 'src/styles/variables.scss';

.sol-homepage-banner {
	padding: 15px 0;
	@media (max-width: 1199px) {
		padding: 30px 0;
	}
	@media (max-width: 991px) {
		margin-bottom: 20px;
	}
	&-description {
		font-size: 18px;
		margin-bottom: 30px;
	}
	&-action {
		display: flex;
		align-items: center;
		gap: 20px;
	}
}
