@import 'src/styles/variables.scss';

.sol-launchpad-banner {
	@media(max-width:1199px){
		padding: 30px 0;
	}
	&-description {
		font-size: 18px;
	}
	&-statistics {
		padding: 40px 0 10px;
		display: flex;
		flex-direction: wrap;
		justify-content: space-between;
		.sol-statistic {
			position: relative;
			&:not(:last-child) {
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 24px;
					width: 1px;
					height: 100%;
					background: $gradient_color;
					@media (max-width: 1199px) {
						right: 12px;
						opacity: .5;
					}
				}
			}
		}
	}
}
