@import 'src/styles/variables.scss';

.sol-breadcrumb {
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 18px;
	font-weight: 700;
	&-home {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		padding: 10px;
		border-radius: 10px;
		background-color: $bg_secondary_color;
		text-decoration: none;
		img,
		svg {
			height: 24px;
			width: auto;
		}
	}
	&-item {
		display: inline-flex;
		align-items: center;
		column-gap: 20px;
		&-link {
            text-decoration: none;
			transition: all ease-in-out 0.3s;
			&:hover {
				color: $white_color;
			}
		}
		&-active {
			color: $white_color;
		}
	}
	&-decoration {
		font-weight: 400;
	}
}
