@import 'src/styles/variables.scss';
.sol-progress-bar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 30px;
	border-radius: 8px;
	background: rgba($white_color, 0.1);
	height: 10px;
	.sol-progress-bar-inner {
		height: 10px;
		border-radius: 8px;
		background: linear-gradient(90deg, #e250e5 4.68%, #4b50e6 91.89%);
	}
	&-lg {
		@media (min-width: 1200px) {
			height: 15px;
			.sol-progress-bar-inner {
				height: 15px;
				border-radius: 8px;
				background: linear-gradient(90deg, #e250e5 4.68%, #4b50e6 91.89%);
			}
		}
	}
}

.sol-progress-bar-outer {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}
