@import 'src/styles/variables.scss';

.sol-checkpoint {
	display: flex;
	column-gap: 15px;
	&-icon {
		width: 28px;
		min-width: 28px;
	}
	&-info {
		font-size: 14px;
		h5 {
			color: $white_color;
			font-weight: 500;
			margin-bottom: 5px;
		}
	}
}
