@import 'src/styles/variables.scss';

.sol-checkpoint {
	display: flex;
	column-gap: 15px;
	&-icon {
		width: 28px;
		min-width: 28px;
	}
	&-info {
		color: $text_color;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px; /* 128.571% */
		h5 {
			color: $white_color;
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 5px;
		}
	}
}
